body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: light-dark(rgb(255, 255, 255), rgb(18, 18, 18));
    color: light-dark(rgb(18, 18, 18), white);
    color-scheme: light dark;
    margin: 10px 5% 10px 5%;
    font-size: 12px;
}
@media (prefers-color-scheme: dark) {
    _::-webkit-full-page-media, _:future, :root img
    {
        filter: invert(1);
    }
}
hr {
    border: 0;
    border-top: 1px solid light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
}
textarea {
    box-sizing: border-box;
    font-family: monospace;
    resize: vertical;
    font-size: inherit;
    border-radius: 4px;
    padding: 4px;
}
button {
    background: light-dark(#29b6f2, #003555);
    border-radius: 4px;
    padding: 10px;
    border: none;
}
button {
    cursor: default;
    opacity: 0.9;
}
button:hover:not(:disabled) {
    opacity: 1;
}
button:active:not(:disabled) {
    filter:invert(1);
}
input {
    padding: 2px 6px;
    margin: 0 0 0 4px;
    font-size: inherit;
}